:root {
  --white-text: #eef6f8;
  --gold-text: #b4a276;
  --bg-color: #00272e;
  --font-family: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  padding: 2rem 0;
}

.container {
  margin: 0.5rem;
}

.text-primary {
  color: var(--white-text);
  font-weight: normal;
  font-size: 1.5rem;
}

.text-secondary {
  color: var(--gold-text);
  font-weight: normal;
  font-size: 1.5rem;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.title__item {
  font-size: 2rem;
}

.details__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.details__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60ch;
  flex: 1 0 50%;
  border-bottom: 2px solid var(--white-text);
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: space-between;
  max-width: 60ch;
  flex: 1 0 50%;
  margin: 1rem 0;
}

.address__wrapper {
  margin-right: 1rem;
}

.zipcode__wrapper {
  display: flex;
}

.address__zipcode {
  margin-right: 1ch;
}
